.rtpc-single-agency-contact-container {
    .rtpc-single-agency-contact-form {
        input {
            padding: 12px 20px;
            margin-right: 25px;
            width: 100%;
            color: #7D7D7D;
        }

        textarea {
            margin-top: 12px;
            width: 100%;
            color: #7D7D7D;
        }

        label {
            @include font-size(19);
            font-weight: $medium;
            color: #464646;
        }

        .rtpc-single-agency-contact-form-message {
            margin-top: 30px;
        }

        .rtpc-single-agency-contact-form-agreement {
            margin-top: 50px;

            label {
                @include font-size(23);
                display: block;
                margin-bottom: 20px;
            }

            input {
                width: 25px;
                height: 25px;
                margin: 0px 10px 0 5px;
                position: absolute;
            }

            span {
                position: relative;
                color: #6A6A6A;
                margin-left: 40px;
                line-height: 25px;
            }
        }

        .rtp-main-button-blue {
            margin-top: 60px;
            height: 50px;

            a {
                padding: 8px 29px 8px 47px
            }
        }
    }
}